html,
body {
    padding: 0 !important;
    margin: 0 !important
}

main {
    padding: 20px 90px;
    text-align: center;
}

img {
    background: #e2e2e2;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 50px;
}

.header,
.footer {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 90vh;
    width: 100vw;
    border-radius: 0px 0px 50px 50px;
}

.footer {
    height: 400px;
    width: 100vw;
    border-radius: 50px 50px 0px 0px;
}

#header--text,
#footer--text {
    font-family: monospace;
    font-size: 72px;
    color: #8a8888
}